@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #00ff00;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: "Courier New", Courier, monospace;
}

/* Scrollbar personalizada hacker */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #111;
}

::-webkit-scrollbar-thumb {
  background: #0f0;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3;
}